@import url('https://fonts.googleapis.com/css?family=Space+Grotesk:400,500,600,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding-bottom: 48px;
  font-family: 'Space Grotesk', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
}
::selection{
  color: rgb(254, 249, 255);
  background-color:rgb(130, 0, 170);
}